@charset "utf-8";
/*VARIABLES*/
@grey: #707070;
@size: 290px;
@mar: 10px;
@wide: (@size * 2)+(@mar*2);

/*MIXINS*/
.box-size {
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.bordered( @top: 4px; @right: 4px; @bot: 4px; @left: 4px ) {
    border: solid #000;
    border-width: @top @right @bot @left;
}
.animation(@options){
    -webkit-animation: @options; /* Chrome, Safari, Opera */
    animation: @options;
}
.bttn {
    float: left;
    display: block;
    width: 100%;
    margin: 3px 0;
    clear: both;
    padding: 5px;
    background-color: #000;
    border: 0;
    color: #fff;
    text-align: center;
    .box-size;
    &.active {
        background-color: @grey;    
    }
}
.regular-font {
    font-family: "lint-mccree", sans-serif;
    font-weight: 400;
    font-size: 14px;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0;
    @media screen and (max-width: 1410px) {
        font-size: 12px;
    }
}
@-webkit-keyframes fadein {
0%      {opacity: 0;}
100%    {opacity: 1;}
}
@keyframes fadein {
0%      {opacity: 0;}
100%    {opacity: 1;}
}
@-webkit-keyframes fadeout {
0%      {opacity: 1;}
100%    {opacity: 0;}
}
@keyframes fadeout {
0%      {opacity: 1;}
100%    {opacity: 0;}
}

@-webkit-keyframes slidein {
0%      {bottom: -400px;}
100%    {bottom: 0px;}
}
@keyframes slidein {
0%      {bottom: -400px;}
100%    {bottom: 0px;}
}

@-webkit-keyframes slideout {
0%      {bottom: 0px;}
100%    {bottom: -400px;}
}
@keyframes slideout {
0%      {bottom: 0px;}
100%    {bottom: -400px;}
}
body,button {
    .regular-font;
}
h1, h2, h3, h4 {
    font-family: "lint-mccree-i7","lint-mccree", sans-serif;
    font-style: italic;
    font-weight: 700;
}
h1 {
    font-size: 24px;
    margin: 20px 0;
    line-height: 24px;
    span {
        font-size: 16px;
        line-height: 16px;
    }
    @media screen and (max-width: 1410px)
    {
        font-size: 18px;
    }
}
h2 {
    font-size: 16px;
}
h3 {
    font-size: 14px;
}
h4 {
    font-size: 13px;
    margin: 10px 0;
}
div {
    .box-size;
    padding: 0;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
p {
    a {
        color: @grey;
    }
}
/*------------------------------------------------------STRUCTURE-----------------------------------------------*/
#container {
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1240px;
    height: 100%;
    min-height: 600px;
}
div#social {
    float: left;
    clear: both;
    margin: 10px 0;
    div {
        float: left;
        margin-right: 15px;
    }
}
#submission {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    background: rgba(255, 255, 255, .6);
    z-index: 2000;
    display: none;
    div#sub-content {
        .box-size;
        width: 740px;
        height: 440px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin: -220px 0 0 -370px;
        padding: 50px;
        .bordered;
        background: #fff;
        form#submit {
            fieldset {
                border: 0;
                padding: 0;
                margin: 0;
                label {
                    float: left;
                    clear: left;
                    margin: 5px 0;
                    &#desc_label {
                        clear: both;
                    }
                }
                input {
                    .box-size;
                    float: right;
                    width: 60%;
                    &#submit_btn {
                        .regular-font;
                        .bttn;
                    }
                }
                textarea {
                    .box-size;
                    float: left;
                    width: 100%;
                    height: 200px;
                    clear: both;
                    resize: none;
                }
            }
        }
    }
}
div#thank-container {
    float: left;
    width: 940px;
    margin: 0 60px;
    @media screen and (max-width: 1410px) {
        margin: 0 30px;
    }
    div#social {
        margin: 0;
    }
}
//--------------------------------------------------------------------Tutorial
#tut-container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1500;
    background-color: rgba(255, 255, 255, .6);
    text-align: center;
    a.tut-nav, a#tut-exit {
        .bttn;
        display: block;
        float: none;
        width: 120px;
        margin: 0;
        padding: 15px;
        position: fixed;
        z-index: 3000;
    }
    #tut-prev {
        left: 0;
        bottom: 0;
    }
    #tut-next {
        right: 0;
        bottom: 0;
    }
    a#tut-exit {
        right: 0;
        top: 0;
        width: 160px;
        margin: 0;
        text-align: right;
        padding-right: 30px;
        &:before {
            content: "X";
            display: block;
            position: absolute;
            left: 20px;
            top: 20px;
            font-size: 18px;
        }
    }
    #tut-welcome {
            display: inline-block;
            position: relative;
            top: 30px;
            background-color: #fff;
            padding: 30px;
            .bordered;
    }
    .tut {
        position: absolute;
        display: block;
        bottom: 0;
        opacity: 0;
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-position: 0 0;
        z-index: 3000;
        &.fade-in {
            .animation(fadein .5s;);
            opacity: 1;
        }
        &.fade-out {
            .animation(fadeout .5s;);
            opacity: 0;
        }
    }
    div#tut-1 {
        left: 40px;
        width: 670px;
        height: 663px;
        background-image: url(tut/1.png);
    }
    div#tut-2 {
        left: 670px;
        width: 766px;
        height: 495px;
        background-image: url(tut/2.png);
    }
    div#tut-3 {
        left: 40px;
        width: 524px;
        height: 706px;
        background-image: url(tut/3.png);
    }
    div#tut-4 {
        left: 670px;
        width: 760px;
        height: 719px;
        background-image: url(tut/4.png);
    }
    div#tut-5 {
        left: 40px;
        width: 718px;
        height: 650px;
        background-image: url(tut/5.png);
    }
    div#tut-6 {
        left: 500px;
        width: 779px;
        height: 704px;
        background-image: url(tut/6.png);
    }
    div#tut-7 {
        left: 80px;
        width: 1059px;
        height: 483px;
        background-image: url(tut/7.png);
    }
}
//--------------------------------------------------------------------Sidebar
#sidebar {
    float: left;
    position: fixed;
    height: 100%;
    overflow: hidden;
    width: 15%;
    min-width: 188px;
    z-index: 1000;
    background: #fff;
    div#tags-container {
        float: left;
        height: 70%;
        width: 100%;
        div#nav-container {
            float: left;
            width: 100%;
            padding: 10px 20px;
            nav {
                float: left;
                width: 100%;
                list-style-type: none;
                li a {
                        .bttn;
                        margin-bottom: 0;
                        border-bottom: 5px solid #fff;
                        &.active {
                            border-bottom-color: #000;
                        }
                }    
            }
        }
    }
    div#tags {
        width: 100%;
        float: left;
        padding: 10px 20px;
        overflow-x: hidden;
        overflow-y: auto;
        ul {
            list-style-type: none;
            padding: 0;
            li {
                margin: 5px;
            }
        }
    }
    div#tools {
        float: left;
        height: 30%;
        width: 100%;
        padding: 0 15px;
        z-index: 500;
        background: #fff;
        .bordered(4px, 4px, 0, 0);
        .box-size;
        h3 {
        }
        a {
            .box-size;
            .bttn;
            &:last-child {
                background-color: @grey;
            }
        }
    }
    @media screen and (max-width: 1410px) {
        width: 188px;
        h1 {
            margin: 10px 0;
        }
        div#nav-container, div#tags {
            padding: 10px !important;
        }
        div#tools {
            padding: 0 10px !important;
        }
    }
}


//---------------------------------------------------------------------------Canvas
#canvas-out-cont {
    float: left;
    position: absolute;
    left: 15%;
    width: 85%;
    min-width: 1000px;
    height: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    @media screen and (max-width: 1410px) {
        left: 188px;
    }
    @media screen and (max-width: 1280px) {
        width: 1000px;
    }
}
#canvas-cont {
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.canvas {
    .box-size;
    float: left;
    position: relative;
    width: 940px;
    height: 636px;
    margin: 60px;
    padding: 10px 30px 10px 10px;
    z-index: 1;
    background: #fff;
    .bordered;
    @media screen and (max-width: 1410px) {
        margin: 15px;
    }
    .handle {
        display: block;
        position: absolute;
        height: 30px;
        width: 30px;
        background-color: #000;
        background-image: url(move.png);
        background-position: center center;
        top: 15px;
        right: -30px;
        cursor: move;
    }
}

.page-highlight {
     float: left;
     position: relative;
     width: 940px;
     height: 636px;
     margin: 60px;
     background: #eee;
     @media screen and (max-width: 1410px) {
        margin: 15px;
    }
}
.canvas-active {
    border-color: @grey;
    .handle {
         background-color: @grey;
    }
}
//---------------------------------------------------------------Panel Selection
#sel-overwarp {
    float: left;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;    
    bottom: 15px;
    overflow: hidden;
    }
#selection-wrap {
    float: left;
    position: absolute;
    width: 80%;
    left: 17%;
    height: 400px;
    bottom: -400px;
    .bordered(4px, 4px, 0, 4px);
    background: #fff;
    z-index: 25;
    opacity: 0;
    &.fade-in {
        .animation(fadein .5s;);
        opacity: 1;
    }
    &.slide-up {
        .animation(slidein 1s;);
        bottom: 0px;
    }
    &.slide-down {
       .animation(slideout 1s;);
        bottom: -400px;
    }
}

#selection {
    float: left;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    overflow-y: auto;
    h3 {
        clear: both;
        margin: 5px 10px;
    }
}
a#showHide {
    position: absolute;
    display: block;
    height: 25px;
    width: 30px;
    top: -29px;
    right: 15px;
    padding: 0;
    background: #000;
    background-image: url(arrow.png);
    background-position: 0 0;
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    z-index: 150;
    &.rotate {
        background-position: 0 25px;
    }
}

//-----------------------------------------------------------------------------------Paneles
div.paneles {
    float: left;
    position: relative;
    display: block;
    width: @size;
    height: @size;
    margin: @mar;
    background-size: @size @size;
    z-index: 100;
    &.wide {
        width: (@wide);
        background-size: (@wide) @size;
    }
    &.drag2 {
        margin: 0;
    }
}
div.canvas div.paneles {
    float: left;
    position: absolute;
}

a.close {
    .box-size;
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    background: #000;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    opacity: 1.0;
    z-index: 150;
}

//----------------------------------------------------------Gallery

div#gallery {
    position: absolute;
    float: left;
    left: 15%;
    @media screen and (max-width: 1410px) {
            left: 188px;
        }
    div#selector {
        margin-right: 60px;
        float: right;
        text-align: right;
        ul {
            float: right;
            list-style: none;
            margin: 0;
            li {
                display: block;
                float: left;
                padding: 10px 15px;
                margin: 0;
                background: #000;
                color: #fff;
                cursor: pointer;
                &.active {
                     background: @grey;
                }
            }
        }
        @media screen and (max-width: 1410px) {
            margin-right: 30px;
        }
    }
    div.gallery-pages {
        margin-left: 60px;
        margin-right: 30px;
        float: left;
        clear: left;
        a.pages {
            display: block;
            float: left;
            padding: 10px 15px;
            background: #000;
            color: #fff;
            &.active-page {
                background: @grey;
            }
        }
        @media screen and (max-width: 1410px) {
            margin-left: 30px;
        }
    }
    div.story {
        float: left;
        position: relative;
        clear: both;
        margin: 30px 60px 60px 60px;
        div.canvas {
            margin: 10px 0 0 0;
            border-color: @grey;
            float: left;
            &.paneles {
                margin: 0;
            }
        }
        @media screen and (max-width: 1410px) {
            margin: 15px 30px 30px 30px;
        }
    }
}



div.comic-pages {
    float: right;
    position: relative;
    clear: both;
    right: 0;
    bottom: 0;
    a.comic-pages {
        display: block;
        float: left;
        padding: 10px 15px;
        background: #000;
        color: #fff;
    }
    a.comic-pages.active-comic-page {
        background: @grey;
    }
}
div#search {
    float: left;
    width: 100%;
    margin: 10px 0;
    form#search {
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
        input#query {
            .box-size;
            float: left;
            width: 63%;
            height: 28px;
            padding: 5px;
            margin: 0;
            border: 1px solid #000;
        }
        button#search {
            .box-size;
            float: left;
            height: 28px;
            width: 37%;
            margin: 0;
            padding: 0;
            border: 1px solid #000;
            background: #000;
            color: #fff;
            font-size: 10px;
            text-align: center;
            cursor: pointer;
        }
    }
}

.loading {
    background: url(ajax-loader.gif) center center no-repeat;
    }